* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 70%;
    padding: 40px 12.5%;
}

.navbar a {
    color: dodgerblue;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../media/blue2\ background.jpeg');
    background-size: cover;
    background-position: center;
}
.wrapper{
    position: relative;
    top: 0;
    right: 0;
    width: calc(100% - 58%);
    height: 100%;
    background: transparent;
    padding: 80px 40px;
    padding-bottom: 50px;
    color: white;
    font-style: italic;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid lightslategrey;
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: steelblue;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
}

.wrapper .pieces{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.pieces label input{
    accent-color: steelblue;
    margin-right: 3px;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: dodgerblue;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 600;
}

.wrapper .register-link{
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}

.register-link p a{
    color: steelblue;
    text-decoration: none;
    font-weight: 500;
}

.register-link p a:hover{
    text-decoration: underline;
}

@media (min-width: 360px) and (max-width: 800px){
    .wrapper{
        width: 320px;
        padding: 10px 20px 10px 10px;
        margin-top: 10px;
    }
}

@media (min-width: 320px) and (max-width: 568px){
    .wrapper{
        width: 310px;
        padding: 10px 20px 10px 10px;
        line-height: 0.15%;
        margin-top: 30px;
    }
    header{
        padding: 20px 6.2%;
    }
}

@media (min-width: 414px) and (max-width: 896px){
    .wrapper{
        width: 320px;
        padding: 10px 20px 10px 10px;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .wrapper{
        width: 500px;
        padding: 10px 20px 10px 10px;
        margin-bottom: 20px;
    }
}